/* Comentario */
body {
    font-family: Arial;
    margin: 60px;
    background-color: brown;
}
#fondillo {
    background-color: white;
}

#contenidillo {
    padding: 20px;
}

h1 {
    color: blue;
    text-align: center;
}

a{
    font-size: 18px;
    color: red;
    text-decoration: none;
}

a:hover {
    color: green;
    background-color: blue;
}

table {
    border-collapse: collapse;
    width: 100%;
    border-spacing: 1px;
    border: 1px solid black;
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #3a3e78;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #f5f5f5;
}

.team-member {
    margin-bottom: 30px;
}

.team-member img {
    width: 100%;
    height: auto;
    border-radius: 50%;
}

.team-member h5 {
    margin-top: 15px;
}

.team-member p {
    font-size: 14px;
    color: #6c757d;
}

.team-member {
    margin-top: 15px;
}

.team-member a {
    display: inline-block;
    margin-right: 10px;
    color: #6c757d;
}

.team-member a:hover {
    color: #007bff;
}

.team-member a:last-child {
    margin-right: 0;
}

.team-member a i {
    font-size: 20px;
}

body {
    background-color: #2982dc;
}

h1 {
    color: #03548e;
    text-align: center;
    margin-top: 50px;
}

h2 {
    color: #09bcc5;
    text-align: center;
    margin-top: 50px;
}

h3 {
    color: #08b138;
    text-align: center;
    margin-top: 50px;
}

h4 {
    color: #a2b306;
    text-align: center;
    margin-top: 50px;
}

h5 {
    color: #978114;
    text-align: center;
    margin-top: 50px;
}

